beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.0
greenlet==3.0.0
idna==3.4
psycopg2-binary==2.9.9
requests==2.31.0
setuptools==68.0.0
soupsieve==2.5
SQLAlchemy==2.0.22
SQLAlchemy-Utils==0.41.1
typing_extensions==4.8.0
urllib3==2.0.6
wheel==0.37.1
